<div class="grid">
    <!-- title row -->
    <div class="row">
        <div class="col-1-4">
            <!-- Location -->
            <h3 class="location">{{ info.location }}</h3>
        </div><!--
        div 
    --><div class="col-3-4" ng-switch="info.hasOwnProperty('title')">
            <!-- Position -->
            <h3 class="position" ng-switch-when=true>{{ info.title }}</h3>
            <div ng-switch-default>
                <p ng-if="typeof info.description === 'string'">{{ info.description }}<p>
                <ul ng-if="typeof info.description !== 'string'">
                    <li ng-repeat="part in info.description">{{part}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- second row -->
    <div class="row">
        <div class="col-1-4">
        <!-- Dates of Employment -->
        <h4 class="date">{{ info.date }}</h4>
        </div><!--
        div 
        --><div class="col-3-4">
        <!-- Description of Position -->
        <div ng-if="info.hasOwnProperty('title')">
            <p ng-if="typeof info.description === 'string'">{{ info.description }}<p>
            <ul ng-if="typeof info.description !== 'string'">
                <li ng-repeat="part in info.description">{{part}}</li>
            </ul>
        </div>
        </div>
    </div>
</div>
