<div class="grid">
    <!-- title row -->
    <div class="row">
        <div class="col-1-4">
            <!-- Location / Type -->
            <h3 class="location" ng-show="ctrl.info.hasOwnProperty('location')">{{ ctrl.info.location }}</h3>
        </div><!--
        div
    --><div class="col-3-4" ng-switch="ctrl.info.hasOwnProperty('title')">
            <!-- Position / Title -->
            <h3 class="position" ng-switch-when=true>{{ ctrl.info.title }}</h3>
            <div ng-switch-default>
                <p ng-if="ctrl.descriptionIsString()">{{ ctrl.info.description }}<p>
                <ul ng-if="!ctrl.descriptionIsString()">
                    <li ng-repeat="part in ctrl.info.description">{{part}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- second row -->
    <div class="row">
        <div class="col-1-4">
        <!-- Dates of Employment -->
        <h4 class="date" ng-show="ctrl.info.hasOwnProperty('date')">{{ ctrl.info.date }}</h4>
        </div><!--
        div
        --><div class="col-3-4">
        <!-- Description of Position -->
        <div ng-if="ctrl.info.hasOwnProperty('title')">
            <p ng-if="ctrl.descriptionIsString()">{{ ctrl.info.description }}<p>
            <ul ng-if="!ctrl.descriptionIsString()">
                <li ng-repeat="part in ctrl.info.description">{{part}}</li>
            </ul>
        </div>
        </div>
    </div>
    <!-- third row -->
    <div class="row">
        <div class="col-1-4">
            <li ng-repeat="album in ctrl.albums">{{ album.name }}</li>
        </div>
    </div>
</div>
